/* Admin Settings */

#AdminControls{
    overflow-x: hidden;

    position:fixed;
    height:100%;
    right:0px;
    bottom:0px;
    transition: 1s;
}
.width330px{
    width:330px;
}
.width90px{
    width:90px;
}

/* Floating Action Button(FAB) */
#FAB{
    position:absolute;
    height:70px;
    width:70px;
    right:10px;
    top:4%;
    border-radius: 50px;
    background-color: #ff0081;
    box-shadow: 0px 0px 10px #ff61b1;

    transition: 1s;
    z-index: 2;

    opacity: 0;
}
/* Invisible Button ontop of FAB */
#FAB button{
    width:100%;
    height:100%;
    
    border-radius: 50px;
    border:none;
    background-color:transparent;

    text-align:center;
}

#FAB button:hover{
    background-color: #cc0067;
}

.icon span {
    position: absolute;
    display: block;
    margin:auto;
    background-color: white;
    transition-duration: 1s;

    border-radius: 0px;
    height:10px;
    width: 50px;
}
  
.icon span:first-child {
    transform: rotate(-45deg);
    top:30px;
    left:10px;
}
.icon span:last-child {
    transform: rotate(45deg);
    top:30px;
    left:10px;
}

.icon:hover span {
    border-radius: 50px;
    height:10px;
    width: 40px;
}
.icon:hover span:first-child {
    transform: rotate(-30deg);
    top:22px;
    left:12px;
}
.icon:hover span:last-child {
    transform: rotate(30deg);
    top:38px;
    left:12px;
}

.icon:hover span:first-child, .icon:hover span:last-child {
    animation: shiftLeft-Navi 3s infinite;
    animation-delay: 1s;
}

@keyframes shiftLeft-Navi {
    0%   {margin-left: 0px;;}
    10%  {margin-left: -10px;}
    25% {margin-left: 0px;}
  }
/*  */

/* Controls */
#AdminSettings{
    position:absolute;
    height:100%;
    right:0;
    bottom:0;
    z-index: 1;
    color: #b3005b;
    transition: 1s;
}

.close-AdminSettings{
    transform: translateX(100%);
}

#AdminSettings .header{
    border-top: 5px solid  #b3005b;
    border-left:5px solid #b3005b;
    border-radius:15px 0 0 0;

    background-color: #fccfe6;
    margin-top:20px;

    padding:10px;
    padding-left:25px;
    text-align: left;
    font-family: 'Verdana';
}

#AdminSettings .content{
    border-left:5px solid #ff0081;
    border-bottom:5px solid #ff0081;
    border-radius:0 0 0 0;

    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(253,221,238,1) 99%);
    width:300px;

    padding:10px;
    text-align: left;
    font-family: 'Verdana';
}

#ContentButtonsContainer{
    margin-bottom:20px;
    display:flex;
}

#ContentButtonsContainer .button{
    font-size: 16px;
    margin: 0px 5px;
    padding: 10px 0px;
    flex:1;

    color: #fff;
    border-radius: 25px;
    border: none;

    position: relative;
    transition: box-shadow ease-in 0.25s, transform ease-in 0.25s;
}
#ContentButtonsContainer .button:hover{
    transform: scale(0.9);
}

.add, .update, .refresh{
    background-color: #eb0077;
    box-shadow: 0 2px 5px #ff61b1;
}
.add:hover, .update:hover, .refresh:hover{
    background-color: #b3005b;
    box-shadow: 0 2px 5px #a30254;
}

#PrizeListHeader{
    margin-top:5px;
}
#PrizeList .prizeRow, #PrizeListHeader{
    display:flex;
    width:99%;
}
#PrizeListHeader div:first-child{
    width: 46%;
}
#PrizeListHeader div:not(:first-child){
    width: 25%;
}
#PrizeList .prizeRow input{
    min-width: 0px;
}
#PrizeList .prizeRow input:first-child{
    flex:2;
}
#PrizeList .prizeRow input:not(:first-child){
    flex:1;
}
/*  */